@model IEnumerable<ContaEmDiaProV1.Areas.PlanoDeContas.Models.Classe>

@{
    ViewData["Title"] = "Plano Geral";
    Layout = "~/Areas/Principal/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Plano Geral</h2>

<div class="container mt-5">
    <div id="treeview"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
<script>
    $(document).ready(function () {
        // Passar os dados para o JavaScript a partir do modelo com a serialização correta
        var data = @Html.Raw(Json.Serialize(Model.Select(classe => new
        {
            text = classe.NomeClasse,
            icon = "fa fa-folder",
            nodes = classe.Contas.Select(conta => new
            {
                text = conta.NomeConta,
                icon = "fa fa-folder",
                nodes = conta.Subcontas.Select(subconta => new
                {
                    text = subconta.NomeSubconta,
                    icon = "fa fa-file"
                }).ToList()
            }).ToList()
        }).ToList()));

        // Inicializar o treeview com os dados
        $('#treeview').treeview({
            data: data,
            showIcon: true,
            showBorder: false,
            expandIcon: 'fa fa-plus',
            collapseIcon: 'fa fa-minus',
            emptyIcon: 'fa fa-file'
        });
    });
</script>
